In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("smssh.csv",names=["label","message"],header=None)

In [4]:
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
df["count"]=[len(i) for i in df["message"]]

In [6]:
df

     label                                            message  count
0      ham  Go until jurong point, crazy.. Available only ...    111
1      ham                      Ok lar... Joking wif u oni...     29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...    155
3      ham  U dun say so early hor... U c already then say...     49
4      ham  Nah I don't think he goes to usf, he lives aro...     61
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...    160
5568   ham               Will ü b going to esplanade fr home?     36
5569   ham  Pity, * was in mood for that. So...any other s...     57
5570   ham  The guy did some bitching but I acted like i'd...    125
5571   ham                         Rofl. Its true to its name     26

[5572 rows x 3 columns]

In [7]:
df["label"]=pd.get_dummies(df["label"],drop_first=True)

In [8]:
df

      label                                            message  count
0         0  Go until jurong point, crazy.. Available only ...    111
1         0                      Ok lar... Joking wif u oni...     29
2         1  Free entry in 2 a wkly comp to win FA Cup fina...    155
3         0  U dun say so early hor... U c already then say...     49
4         0  Nah I don't think he goes to usf, he lives aro...     61
...     ...                                                ...    ...
5567      1  This is the 2nd time we have tried 2 contact u...    160
5568      0               Will ü b going to esplanade fr home?     36
5569      0  Pity, * was in mood for that. So...any other s...     57
5570      0  The guy did some bitching but I acted like i'd...    125
5571      0                         Rofl. Its true to its name     26

[5572 rows x 3 columns]

In [9]:
y=np.array(df["label"])

In [10]:
x=np.array(df["count"])

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=44)

In [13]:
x_train=x_train.reshape(-1,1)

In [14]:
x_train

array([[ 49],
       [ 96],
       [ 53],
       ...,
       [ 74],
       [155],
       [103]], dtype=int64)

In [15]:
x_train.shape

(4457, 1)

In [16]:
y_train.shape

(4457,)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
x_test=x_test.reshape(-1,1)

In [ ]:
x_test.shape

In [ ]:
y_test.shape

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
print(classification_report(y_test, y_pred))